<div id="copyright">
    <% if(theme.busuanzi.enable === true ) { %>
    <span id="busuanzi_container_site_pv">本站总访问量<span id="busuanzi_value_site_pv"></span>次</span>
    <% } %>
    <span id="busuanzi_container_site_pv">&copy; 版权所有 大译象 <%- date(Date.now(), 'YYYY') %>  </span>    
</div>